<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content" ng-app="nashConnects">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav mr-auto">
                        <li>
                            <h4 id="logo"><a href="#!/">Nash Freelance Connects</a></h4>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a> 
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <!-- <a class="dropdown-item" href="#!/nonprofit/approve">Non-Profit Approvals</a> -->
                                <a class="dropdown-item" href="#!/freelancers/list">List Newsletter Subscribers</a>
                                <!-- <a class="dropdown-item" href="#!/category/add">Add Categories</a> -->
                                <!-- <a class="dropdown-item" href="#!/category/edit/:id">Edit Categories</a> -->
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Resources
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!/freelancers/list">Nash Freelancers</a>
                                <a class="dropdown-item" href="#!/nonprofits/list">Nash Non-Profits</a>
                                <!-- <a class="dropdown-item" href="#!/onlines/list">Online Resources</a> -->
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#!/events/list">Events</a>
                            </div>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        <!--
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Register
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!/freelance/register">Freelance</a>
                                <a class="dropdown-item" href="#!/nonprofit/register">Non-Profit</a>
                            </div>
                        </li>
                        -->

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Account
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#!/login">Sign In</a>
                                <a class="dropdown-item" href="#!/freelance/account/:id">Freelance Profile</a>
                                <a class="dropdown-item" href="#!/nonprofit/account/:id">Non-Profit Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#!/freelance/register">Register Freelance</a> 
                                <a class="dropdown-item" href="#!/nonprofit/register">Register Non-Profit</a> 
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        @RenderBody()


        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>


        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angular")
        @RenderSection("scripts", required: false)
    </body>
    </html>
